<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
<h1>Journal</h1>
<h2>New Entry</h2>
<% if (user) { %>
  <div id="journal-container">
    <div id="journal-entry-container">
      <form action="/journals" method="POST">
        <textarea 
          id="journal-entry" 
          name="entry" 
          rows="4" 
          cols="50" 
          autocomplete="off"
          maxlength="1024"
        >
        </textarea>
        <br>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  <div id="journal-entries-container">
    <% journal.forEach( journal => { %>
      <div id="journal-card">
        <div id="journal-card-entry"><%= journal.entry %></div>
        <a href="/journals/<%= journal._id %>/edit"><button>edit</button></a>
        
      </div>
    <% }) %>
  </div>
<% } %>
</section>

<%- include('../partials/footer') %>