<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<section>
  <h1>Habits</h1>
  <ul>
    <% habit.forEach(habit => { %>
      <form action="/habits"></form>
        <li>
          <div class="allhabits"><%= habit.btnName %></div>
          <div class="allhabits"> Streak: <%= habit.currentStreak %> </div>
          <div class="allhabits"><a href="/habits/<%= habit._id %>/edit"><button>edit</button></a></div>
        </li>
      </form>
    <% }) %>
  </ul>
</section>




<%- include('../partials/footer') %>