<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<section>
<h1><%= habit.btnName %></h1>
<div class="edit-container">
  <form 
    action="/habits/<%= habit._id %>/changeName?_method=PATCH" 
    method="POST"
    >
    <input 
    type="text" 
    name="newName"
    autocomplete="off"
    >
    <div></div>
    <button type="submit">Change Name</button>
  </form>

  <p>Streak: <%= habit.currentStreak %></p>


    <form 
    action="/habits/<%= habit._id %>/resetStreak?_method=PATCH" 
    name="resetStreak"
    method="POST"
    >
      <button type="submit">Reset Streak</button>
  </form>
  <form 
  action="/habits/<%= habit._id %>?_method=DELETE" 
  method="POST"
>
  <button>Delete Habit</button>
</form>

</div>
</section>


<%- include('../partials/footer') %>