<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<section>
<p><%= habit.btnName %></p>

<input 
  type="text" 
  name="btnName"
  autocomplete="off"
  >
<form 
              action="/habits/<%= habit._id %>?_method=PATCH" 
              name="btnName"
              method="POST"
              >
                <button type="submit">Change Name</button>
            </form>

<p>Streak: <%= habit.currentStreak %></p>
<button>Reset Streak</button>

</section>
<form 
action="/habits/<%= habit._id %>?_method=PATCH" 
name="currentStreak"
method="POST"
>
  <button type="submit">I did it!</button>
</form>



<%- include('../partials/footer') %>