<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<section>
<p><%= habit.btnName %></p>

<form 
  action="/habits/<%= habit._id %>/changeName?_method=PATCH" 
  method="POST"
  >
  <input 
  type="text" 
  name="newName"
  autocomplete="off"
  >
    <button type="submit">Change Name</button>
</form>

<p>Streak: <%= habit.currentStreak %></p>

</section>
<form 
action="/habits/<%= habit._id %>/resetStreak?_method=PATCH" 
name="resetStreak"
method="POST"
>
  <button type="submit">Reset Streak</button>
</form>



<%- include('../partials/footer') %>