<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Habits</h1>
  <div class="habits-container">
    <% habit.forEach( habit => { %>
      <div class="habit-card">
        <div class="habit-card-text">
          <%= habit.btnName %>
        </div>
        <div class="habit-card-streak">
          <%= habit.currentStreak %>
        </div>
        <div class="habit-card-editBtn">
          <a href="habits/<%= habit._id %>/edit">
            <button>I did it!</button>
          </a>
        </div>
      </div>
    <% }) %>
    </div>
  <% if (user) { %>
    <h2>Add a Habit to Track</h2>
    <form action="/habits" method="POST">
      <label>
        Name:
        <input type="text" name="btnName" autocomplete="off">
      </label>
      
      <button type="submit">Add</button>
    </form>
  <% } %>
</section>
<%- include('../partials/footer') %>