<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <% if (user) { %>
  <h1>Habits</h1>
  <div class="habits-container">
    <% habit.forEach( habit => { %>
      <div class="habit-card">
        <div class="habit-card-items">
          <div class="habit-card-text">
            <%= habit.btnName %>
          </div>
          <div class="habit-card-streak">
            <%= habit.currentStreak %>
          </div>
          <div class="habit-card-editBtn">
            <form 
              action="/habits/<%= habit._id %>?_method=PATCH" 
              name="currentStreak"
              method="POST"
              >
                <button type="submit">I did it!</button>
            </form>
            <div class="progress">
              <div class="progress-bar w-75 progress-bar-striped progress-bar-animated" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
    </div>

    <h2>Add a Habit to Track</h2>
    <form action="/habits" method="POST">
      <label>
        Name:
        <input type="text" name="btnName" autocomplete="off">
      </label>
      
      <button type="submit">Add</button>
    </form>
  <% } %>
</section>
<%- include('../partials/footer') %>