<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <% if (user) { %>
  <h1>Habits</h1>
  <div class="habits-container">
    <% habit.forEach( habit => { %>
      <div class="habit-card">
        <div class="habit-card-items">
          <div class="habit-card-text">
            <%= habit.btnName %>
          </div>
          <div class="habit-card-streak">
            <%= habit.currentStreak %>
          </div>
          <div id="streak-label">Streak</div>
          <div class="habit-card-editBtn">
            <form 
              action="/habits/<%= habit._id %>?_method=PATCH" 
              name="currentStreak"
              method="POST"
              >
                <button type="submit">I did it!</button>
            </form>
          </div>
          
        </div>
        <div id="edit-btn">
          <a href="/habits/<%= habit._id %>/edit"><button id="edit-btn">edit</button></a>
        </div>
      </div>
    <% }) %>
    </div>
    <div class="habit-card" id="habit-card-add-habit">
      <h2>Add Habit</h2>
      <form action="/habits" method="POST">
          <input 
            type="text" 
            name="btnName" 
            autocomplete="off" 
            maxlength="32"
            size="16"
          >
        <button type="submit">Add</button>
      </form>
    </div>
  <% } %>
</section>
<%- include('../partials/footer') %>